* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.Card{
    height: auto;
    width: 100%;
    padding-top: 2rem;
}
.container{
    min-height: 70vh;
    height: auto;
    width: 100%;
}
.contenedorCart{
    border: 1px;
    border-color: #c771e7;
    border-style: dashed;
    border-radius: 20px;
}
.img-cart{
    height: 30vh;
    width: 100%;
    padding: 2rem;
}
.contenedorBotones{
    background-color: rgb(224, 227, 229);
}
