.contenedorCard{
    height: auto;
}
.card-title{
    color:rgb(245, 179, 212);
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    margin: 0 200px;
}
.bodyText{
font-family: 'Poppins', sans-serif;
padding: 2rem;
align-items: center;
text-align: center;
}
.card-text{
color:rgb(76, 48, 64);
line-height: 2rem;
margin: 1rem;
}
.card-text p{
    padding: 0;
}
.card-price{
    color:rgb(248, 192, 220);
    font-size: 25px;
    font-family:'Vidaloka', serif;
}
.tiempo{
    color:rgb(173, 15, 105);
}
.precio{
    color: rgb(68, 66, 66) ;
    font-size: 16px;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
}
.imagen{
    position: relative;
    padding: 1rem;
}
.subtitulo{
    text-align: left;
    padding: 1rem;
}
