.contenedorCard{
    height: auto;
}
.card-title{
    color:rgb(245, 179, 212);
    font-size: 45px;
    font-family:'Vidaloka', serif;
}
.bodyText{
padding: 2rem;
align-items: center;
text-align: center;
}
.card-text{
font-family: 'Manrope', sans-serif;
color:rgb(76, 48, 64);
line-height: 2rem;
margin: 1rem;
}
.card-text p{
    padding: 0;
}
.card-price{
    color:rgb(248, 192, 220);
    font-size: 25px;
    font-family:'Vidaloka', serif;
}
.tiempo{
    color:rgb(173, 15, 105);
}
.imagen{
    position: relative;
}