.ItemListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    height: 15vh;
}

.tituloContenedor {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tituloContenedor:after{
    content: "";
    position: absolute;
    background-color: pink;
    height: 3px;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: -5px;
    transition: 0.3s;

}
.tituloContenedor:hover:after{
width: 100%;

}