.bodyCount {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    padding: 0.5rem;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    color: #949494;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
}

.contador {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.contadorNumero {
    font-family: 'Poppins', sans-serif;
    color: #949494;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
}

.botonAgregar {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
}
.botonAgregar:hover{
    background-color: rgb(39, 38, 38);
    color: white;
}

.link {
    padding-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.volver {
    color: rgb(247, 177, 177);
    padding: 7px;
    text-decoration: none;
    cursor: pointer;
}

.volver:hover {
    color: #d5588a;
}